body {
  font-family: var(--font);
  font-weight: 400;
  color: var(--color-text);
  background-color: var(--color-white);
}

a,
button,
input,
textarea,
svg * {
  transition-duration: 0.2s;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1240px;
  margin-inline: auto;
  padding-inline: 20px;
}
