.sidebar {
  max-width: 276px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.menuItem {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 12px 30px;
  border-radius: 8px;
  text-decoration: none;
  color: var(--color-text);
  transition: all 0.2s;
}

.menuItem:hover {
  background-color: var(--color-bg-secondary);
}

.active {
  background-color: var(--color-bg-secondary-2);
}

.menuIcon {
  width: 28px;
}
