.sidebar {
  width: 276px;
  padding-top: 40px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.menuItem {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 12px 30px;
  border-radius: 8px;
  text-decoration: none;
  color: var(--color-text);
  transition: all 0.2s;
}

.menuItem:hover {
  background-color: var(--color-bg-secondary);
}

.active {
  background-color: var(--color-bg-secondary-2);
}

.menuIcon {
  width: 28px;
}

.logoutButton {
  width: 100px;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 8px;
  border: none;
  background: transparent;
  font-size: 16px;
  color: var(--color-text);
  cursor: pointer;

  &:hover {
    color: var(--color-error);

    .logoutIcon {
      color: #fff;
    }

    .iconWrapper::before {
      transform: scale(1);
    }
  }
}

.iconWrapper {
  position: relative;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background: var(--color-error);
    border-radius: 50%;
    transform: scale(0);
    transition: transform 0.3s;
    z-index: 0;
  }
}

.logoutIcon {
  position: relative;
  z-index: 1;
  color: var(--color-text);
  transition: color 0.2s;
}
